* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(stopwatchimage.jpg) no-repeat center center/ cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.container {
    background: #fff;
    border-radius: 30px;
    height: 250px;
    width: 65%;
}

#timer {
    font-size: 72px;
    padding-top: 40px;
    text-align: center;
}

.buttons {
    padding-top: 40px;
    text-align: center;
}

button {
    border: none;
    margin: 0 10px;   
}

button i {
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    width: 50px;
}

#play {
    background: green;
}

#pause {
    background: orange;
}

#reset {
    background: red;
}